{% if anmad.inventories is string %}
inventories = [{{ anmad.inventories }}]
{% else %}
inventories = [{% for inv in anmad.inventories %}{{ inv }}, {% endfor %}]
{% endif %}
playbook_root_dir = {{ anmad.root }}
{% if anmad.playbooks is string %}
playbooks = [{{ anmad.playbooks }}]
{% else %}
playbooks = [{% for play in anmad.playbooks %}{{ play }}, {% endfor %}]
{% endif %}
venv = {{ ansible_master.venv }}
{% if syntax_check_dir is defined %}
syntax_check_dir = {{ syntax_check_dir }}
{% endif %}
{% if anmad.prerun is defined and anmad.prerun is string %}
pre_run_playbooks = [{{ anmad.prerun }}]
{% endif %}
{% if anmad.prerun is defined and anmad.prerun is not string %}
pre_run_playbooks = [{% for play in anmad.prerun %}{{ play }}, {% endfor %}]
{% endif %}
{% if master_ansible_user_vaultfile is defined %}
ssh_askpass = /usr/bin/ssh-askpass
{% endif %}
{% if anmad.ara_url is defined %}
ara_url = {{ anmad.ara_url }}
{% endif %}
{% if anmad.debug is defined %}
debug = True
{% endif %}
