[Unit]
Description=anmad gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User={{ ansible_master.user }}
Group={{ ansible_master.group }}
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory={{ anmad.install_dir }}/anmad/interface/
ExecStart={{ ansible_master.venv }}/bin/gunicorn anmad.interface
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
