inventories = [{% for inv in anmad_inventories %}{{ inv }}, {% endfor %}]
playbooks = [{% for play in anmad_playbooks %}{{ play }}, {% endfor %}]
venv = {{ ara_override.install.pip.virtualenv_path }}
dir_to_watch = {{ git_log_dir }}
{% if syntax_check_dir is defined %}
syntax_check_dir = {{ syntax_check_dir }}
{% endif %}
{% if anmad_prerun is defined %}
pre_run_playbooks = [{% for play in anmad_prerun %}{{ play }}, {% endfor %}]
{% endif %}
{% if master_ansible_user_vaultfile is defined %}
ssh_askpass = /usr/bin/ssh-askpass
{% endif %}
