#!/bin/bash
{% if syntax_check_dir is defined %}
screen -S ansible-runner -d -m /usr/local/bin/ansible-runner.py --inventory {{ git_repo_target }}/{{ ansible_runner_inventory }}  --playbooks {{ ansible_runner_playbooks }} --syntax_check_dir {{ syntax_check_dir }}
{% else %}
screen -S ansible-runner -d -m /usr/local/bin/ansible-runner.py --inventory {{ git_repo_target }}/{{ ansible_runner_inventory }}  --playbooks {{ ansible_runner_playbooks }}
{% endif %}
