inventories = {{ ansible_logpoll_inventories }}
playbooks = {{ ansible_logpoll_playbooks }}
venv = {{ ara_override.install.pip.virtualenv_path }}
dir_to_watch = {{ git_log_dir }}
{{ ('syntax_check_dir =' + syntax_check_dir) if syntax_check_dir is defined else '' }}
{{ ('pre_run_playbooks =' + ansible_logpoll_prerun) if ansible_logpoll_prerun is defined else '' }}
