inventories = [{% for inv in ansible_logpoll_inventories %}{{ inv }}, {% endfor %}]
playbooks = [{% for play in ansible_logpoll_playbooks %}{{ play }}, {% endfor %}]
venv = {{ ara_override.install.pip.virtualenv_path }}
dir_to_watch = {{ git_log_dir }}
{% if syntax_check_dir is defined %}
syntax_check_dir = {{ syntax_check_dir }}
{% endif %}
{% if ansible_logpoll_prerun is defined %}
pre_run_playbooks = [{% for play in ansible_logpoll_prerun %}{{ play }}, {% endfor %}]
{% endif %}
