#!/bin/bash
{% if syntax_check_dir is defined %}
screen -S ansible-runner -d -m /usr/local/bin/ansible-runner.py --inventories {{ ansible_runner_inventories }}  --playbooks {{ ansible_runner_playbooks }} --syntax_check_dir {{ syntax_check_dir }}
{% else %}
screen -S ansible-runner -d -m /usr/local/bin/ansible-runner.py --inventories {{ ansible_runner_inventories }}  --playbooks {{ ansible_runner_playbooks }}
{% endif %}
