#!/bin/bash
cd {{ git_repo_target }} || exit
unset GIT_DIR || exit
git fetch || exit
git merge origin/{{ git_branch }} || exit
git checkout {{ git_branch }} || exit
cd {{ git_log_dir }} || exit
echo "$(date) {{ git_repo_name }} has been pushed" >> {{ git_log_dir }}/{{ git_repo_name }}.log
