[Unit]
Description=Daemon to run playbooks from anmad queues
After=syslog.target

[Service]
Type=simple
User=ansible
Group=ansible
WorkingDirectory=/opt/ansible-master/
ExecStart=/opt/ansible-master/bin/python3 -m anmad.daemon
ExecReload=/opt/ansible-master/bin/python3 -m anmad.daemon.restart
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
